body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

/* NAVBAR */
.navbar{
    background:#2c3e50;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-weight:bold;
    font-size:18px;
}

.menu{
    list-style:none;
    display:flex;
    gap:20px;
    margin:0;
    padding:0;
}

.menu li a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

.menu li a:hover{
    color:#1abc9c;
}

/* CONTENEDORES */
.contenedor{
    background:white;
    margin:50px auto;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
    width:350px;
}

.oculto{
    display:none;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.reloj{
    font-size:40px;
    font-weight:bold;
    margin:20px 0;
    color:#2c3e50;
}

.fecha{
    color:#777;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.btn-asistencia{
    background:#1abc9c;
    color:white;
}

.btn-asistencia:hover{
    background:#16a085;
}

.btn-login{
    background:#3498db;
    color:white;
}

.btn-login:hover{
    background:#2980b9;
}